// === Variable ===
$black-color: #000000;
// === /Variable ===

// === Common ===
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

// === /Common ===

.clock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background: #091921;
  padding: 5px;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-body {
  width: 80px;
  height: 80px;
  display: flex;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  background: url(../assets/clock.png) #091921 no-repeat;
  background-size: cover;
  border: 4px solid #091921;
  border-radius: 100%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
  }

  .hour,
  .min,
  .sec {
    position: absolute;
  }

  .hr,
  .mn,
  .sc {
    display: flex;
    justify-content: center;
    border-radius: 50%;
  }

  .hr {
    width: 40px;
    height: 40px;

    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 20px;
      background: #ffffff;
      z-index: 10;
      border-radius: 6px 6px 0 0;
    }
  }
  .mn {
    width: 50px;
    height: 50px;

    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 25px;
      background: #ffffff;
      z-index: 11;
      border-radius: 6px 6px 0 0;
    }
  }
  .sc {
    width: 60px;
    height: 60px;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background: #ff105e;
      z-index: 12;
      border-radius: 6px 6px 0 0;
    }
  }
}

.time {
  font-size: 1.5rem;
  color: $black-color;
}

.clock-title {
  font-size: 1.8rem;
  color: $black-color;
}

[data-clock-night="false"] {
  background: url(../assets/clock.png) #ffffff no-repeat;
  background-size: cover;

  .hr {
    &::before {
      background: $black-color;
    }
  }
  .mn {
    &::before {
      background: $black-color;
    }
  }
}

@media (max-width: 900px) {
  .clock {
    flex-direction: column;
  }
}
