// === Variable ===
$black-color: #000000;
// === /Variable ===

// === Common ===

:root {
  font-size: 10px;
}

// === /Common ===

// === Currency ===
.currency {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 100%;
  color: $black-color;

  .currency-title {
    text-align: center;
    padding: 10px;
  }
  .currency-body {
    overflow: auto;
    .currency-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 7px 5px;
      padding-top: 7px;
      cursor: pointer;
      &:hover {
        background-color: #4f4f4f;
      }

      .currency-info {
        display: flex;
        align-items: center;

        &__flag {
          width: 50px;
        }

        &__name {
          margin-left: 10px;
        }
      }

      .currency-rate {
      }
    }
  }
}

@media (max-width: 850px) {
  .currency {
    font-size: 1.8rem;
    .currency-body {
      .currency-container {
        .currency-info {
          &__flag {
            width: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .currency {
    font-size: 1.5rem;
    .currency-body {
      .currency-container {
        .currency-info {
          &__flag {
            width: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .currency {
    font-size: 1.2rem;
    .currency-body {
      .currency-container {
        .currency-info {
          &__flag {
            display: none;
            width: 20px;
          }
          &__name {
            margin-left: 0;
          }
        }
      }
    }
  }
}

// === /Currency ===
