// === Common ===
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

// === /Common ===

// === Currency ===
.currency {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 100%;
  max-width: 320px;
  color: white;

  .currency-search {
    font-size: 2rem;
    padding: 10px;
  }

  .currency-title {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    background-color: black;
  }
  .currency-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(116, 94, 238);
    align-items: center;
    padding: 7px 5px;
    padding-top: 7px;
    cursor: pointer;
    &:hover {
      background-color: #4f4f4f;
    }

    .currency-info {
      display: flex;
      align-items: center;

      &__flag {
        width: 50px;
      }

      &__name {
        margin-left: 10px;
      }
    }

    .currency-rate {
    }
  }
}

// === /Currency ===
