$main-color: white;

.trips-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 4rem;
  overflow: auto;
  height: 80%;
}
.new-trip-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.new-trip-btn:active {
  background-color: darkblue;
}
// .trips-modal {
//   display: none;
// }
// .trips-modal.active {
//   display: block;
//   position: absolute;
//   top: 10px;
//   background-color: $main-color;
//   width: 70%;
//   height: 400px;

  
//   #trip-create-form {
//     width: 70%;
//     margin: 45px auto 0;

//     #new-trip-submit {
//       border-radius: 20px;
//     }
//   }
// }
.select {
  font-size: 18px;
  margin: 30px;
}
.submit-btn {
  margin: 10px;
}
.trip-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 0.5rem 3rem;
  gap: 3rem;

  .trip-title,
  .trip-details-buttons,
  .pagination {
    grid-column: span 3;
  }
  .trip-title {
    font-size: 4rem;
    background-image: url('../assets/images/paper-1074131_640.jpg');
  }
  .trip-date {
    grid-column: span 2;
    background-image: url('../assets/images/paper-1074131_640.jpg');
  }
  .trip-destination {
    background-image: url('../assets/images/paper-1074131_640.jpg');
  }
  .trip-icon {
    display: grid;
    justify-content: center;
    width: 60%;
    max-width: 17rem;
    justify-self: center;
    font-size: 2rem;
    // background-color: #ffa000;
    background-image: url('../assets/images/paper-1074131_640.jpg');
    padding: 2rem;
    border-radius: 0.5rem;

    img {
      width: 100%;
      max-width: 5rem;
      justify-self: center;
    }
  }
  .trip-details-buttons {

    button {
      margin: 0 2rem;
    }
  }
}
.card-content {
  font-size: 1.6rem;
  padding: 1rem 2rem;
}
.card-action {
  font-size: 1.6rem;
  padding: 2rem;
}