// @import 'materialize-css/sass/materialize.scss';
@import "currency.scss";
@import "clock.scss";
@import "map.scss";
@import "my-trips.scss";
@import "sights.scss";
@import "TODO.scss";
@import "mainPage.scss";
@import "weather.scss";
@import "notes.scss";

$main-color: #ffffff;
$main: none;
$secondary-color: #272142;
$primary-color: #1e1e20;

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("../assets/images/map-2153535_1280.jpg");
  background-size: cover;
}

.app-wrapper {
  overflow: hidden;
  height: 100vh;
}

.header {
  background-color: $secondary-color;
  height: 9vh;
  min-height: 4.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  .modal {
    max-width: 560px;
    height: 400px;
    padding: 15px;
  }

  .datepicker-modal {
    top: 3% !important;
    height: auto;
    width: auto;
  }

  .close {
    position: absolute;
    top: 12px;
    right: 15px;
  }

  .close:hover {
    cursor: pointer;
  }

  .header-links {
    display: flex;
    margin: auto 0;

    i {
      font-size: 2.5rem;
      margin-right: 5px;
    }

    .btn {
      background-color: $secondary-color;
      box-shadow: none;
      padding: 0 1rem;
    }

    .btn:hover {
      background-color: unset;
    }

    .log-in:hover,
    .log-out:hover,
    .sign-up:hover,
    .language:hover {
      color: #ffab00;
    }

    .language {
      display: flex;
    }

    select {
      // display: block;
      margin-top: 0.3rem;
      padding-top: 0.3rem;
      color: $main-color;
      background-color: $secondary-color;
      border: none;
    }

    select:hover {
      color: #ffab00;
      cursor: pointer;
    }

    select:focus {
      color: #ffab00;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 10rem 1fr 25rem;
  grid-template-rows: 100%;
  height: 83vh;
  background-color: rgba(0, 0, 0, 0.62);

  .nav {
    background-color: #131314;
    text-align: center;
    height: 100%;
    box-shadow: none;
    transition: 0.4s ease-in-out;

    .nav-item-block {
      margin: 0.5rem auto;

      .nav-item {
        margin: 0 auto;
        width: max-content;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding-bottom: 10px;
      }

      i {
        font-size: 3.5rem;
        height: 5rem;
      }
    }

    .nav-item-block:hover {
      cursor: pointer;
      background-color: #ffffff18;
      color: #ffab00;
    }

    .nav-item-block.active {
      color: #ffab00;
    }
  }

  .main-content-section {
    position: relative;
    overflow: auto;
  }

  .map-image,
  .notes.image {
    width: 100%;
    max-height: 100%;
  }

  .side-bar {
    background-color: #ffa000e7;
    color: white;
    overflow: hidden;
    margin: 0.7rem;
    border-radius: 0.5rem;
  }
}

.footer {
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  min-height: 4.5rem;
  color: black;

  .authors {
    margin: 0 40px 0 5px;

    .gh-link {
      margin: 0 10px;
      font-size: 1.7rem;
      color: #ffab00;
      transition: 0.5s ease-in-out;
      text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1),
        0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
        -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
      &:hover {
        color: #916205;
      }
    }
    span {
      transform: scale(0.9);
      display: inline-block;
    }

    .roman-link {
      animation: bopB 1s 0.2s cubic-bezier(0.775, 0.985, 0.42, 1.675) forwards infinite alternate;
    }
    .maria-link {
      animation: bopB 1s 0.2s cubic-bezier(0.575, 0.785, 0.32, 1.575) forwards infinite alternate;
    }
    .yulia-link {
      animation: bopB 1s 0.2s cubic-bezier(0.375, 0.955, 0.72, 1.375) forwards infinite alternate;
    }
    .slava-link {
      animation: bopB 1s 0.2s cubic-bezier(0.175, 0.685, 0.62, 1.875) forwards infinite alternate;
    }
  }
  .rss-logo {
    height: 25px;
  }
}

.btn {
  border-radius: 20px;
  background-color: #ffab00;

  .material-icons {
    font-size: 2.4rem;
  }
}

.btn:hover {
  background-color: #ff6d00;
}

.btn:focus {
  background-color: #ffab00;
}

.hidden {
  display: none;
}

select {
  display: block;
}

.burger-menu {
  display: none;
  padding: 15px;
  cursor: pointer;
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 20;
  .burger-inner {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 4px;
    background-color: #ffab00;
    border-radius: 9px;

    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 40px;
      height: 4px;
      background-color: #ffab00;
      border-radius: 9px;
    }

    &::before {
      transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
      top: -10px;
    }

    &::after {
      transition: 0.2s ease-in-out;
      bottom: -10px;
    }
  }
}

.overlay {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  pointer-events: none;
  z-index: 20;
  transition: opacity 0.4s ease-in;
  top: 0;
}

@media (max-width: 916px) {
  .header {
    #canvas {
      width: 50% !important;
      flex-grow: 1;
    }
    .header-links {
      flex-direction: column;

      .authorization {
        display: flex;
        .btn {
          padding: 0;
          font-size: 12px;
          margin: 0 10px 0 0;
        }
      }
      .language {
        padding: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 5px;
    .burger-menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn {
      .material-icons {
        font-size: 2rem;
      }
    }
    .header-links {
      .authorization {
        display: flex;
        .btn {
          padding: 0;
          font-size: 12px;
          margin: 0 5px 0 0;
        }
      }
    }
  }

  .main {
    grid-template-columns: 1fr;

    .nav {
      z-index: 20;
      position: absolute;
      width: 100px;
      left: -300%;
      height: 983px;
    }

    .side-bar {
      display: none;
    }
  }
}

@media (max-width: 573px) {
  .header {
    #canvas {
      display: none;
    }

    .header-links {
      .authorization {
        .btn {
          font-size: 10px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
  .footer {
    .authors {
      margin: 0 10px 0 5px;
      .gh-link {
        margin: 0 5px;
        font-size: 1.2rem;
      }
    }
  }
}

// === Animation ===
@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}
// === /Animation ===

.active {
  cursor: pointer;
  opacity: 1;
  pointer-events: all;

  .burger-menu {
    .burger-inner {
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: rotate(225deg);
      &::before {
        transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
        opacity: 0;
        top: 0;
      }
      &::after {
        transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
        bottom: 0;
        transform: rotate(90deg);
      }
    }
  }

  .nav {
    left: 0;
  }
}
